<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorSnake</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3"  href="/" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Leaderboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="/snake_v1">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Snake v1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="/snake_v1.5">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Snake v1.5
            </NavLink>
        </div>

        
    </nav>
</div>

