@page "/awad"
@using BlazorSnake.Client.Pages

@* @rendermode InteractiveServer  *@

@rendermode InteractiveAuto

@inject IScoreboard score
@inject NavigationManager nav

<PageTitle>Home</PageTitle>

<h1>@score.Score</h1>

Welcome to your new app.

<ScoreboardComponent/>
<p>------------------------------</p>


@* <Counter/> *@

@code{
   
    public async Task IncrementCount(KeyboardEventArgs e)
    {
        throw new NotImplementedException();
    }


   
}