
@page "/snake"
@rendermode InteractiveAuto
@* @rendermode InteractiveWebAssembly *@
@inject Snakebody Snbodyv2



<body @ref="testRef" tabindex="0" style="width=300px;height:500px;outline:none;" @onkeydown="HandleKeyDown">
    <header>
        <h1>Heading</h1>
    </header>


    <div class="container" >
        <div class="row mt-5">
            <div class="col-8 d-flex justify-content-center">
                <div class="hstack gap-1 flex-wrap" style="width: 238px;">


                    @if (Snbodyv2 is null)
                    {
                        @foreach (var i in Ring)
                        {
                            <div class="border rounded-0 border-dark" style="width:20px;height:20px"></div>
                        }
                    }
                    else
                    {
                        @foreach (var i in Ring)
                        {
                            @if (Snbodyv2.NumbersSet.Contains(i))
                            {
                                <div class="border rounded-0 border-dark bg-dark" style="width:20px;height:20px"></div>
                            }
                            else if (i == Snbodyv2.Foodposition)
                            {
                                <div class="border rounded-0 border-dark bg-danger" style="width:20px;height:20px"></div>
                            }
                            else
                            {
                                <div class="border rounded-0 border-dark" style="width:20px;height:20px"></div>
                            }
                        }
                    }

                   

                   
                   
                </div>
            </div>
            <div class="col-4">
                <h1>Score : @Snbodyv2.Score &nbsp;</h1>
            </div>
        </div>
        <p>PRESSED KEY = @pressedKey</p>
    </div>

    <div class="container d-flex justify-content-center mt-5">
        <button class="btn btn-primary" @onclick="StarGame">START</button>
    </div>
   
    

</body>


<button class="btn btn-primary" @onclick="Test">Click me</button>




@code {


    // Snakebody Snbodyv2 ;


    int[] Ring = Enumerable.Range(10, 90).ToArray();



    int score = 0;

    private ElementReference testRef;
    private string pressedKey = Snake.s.ToString();

    private async void HandleKeyDown(KeyboardEventArgs e)
    {
        pressedKey = e.Key;

        switch (e.Key)
        {
            case "w":  Snbodyv2.Moveto(Snake.w); break;
            case "a": Snbodyv2.Moveto(Snake.a); break;
            case "s": Snbodyv2.Moveto(Snake.s); break;
            case "d": Snbodyv2.Moveto(Snake.d); break;
        }


        // if (e.Key == "w") score += 5;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Snbodyv2 = new();
            await testRef.FocusAsync();
            Snbodyv2.DataUpdater += Updatingdata;
            // StateHasChanged();
        }

        
    }

    private async void Updatingdata(object? sender, EventArgs e)
    {
        StateHasChanged();
    }



    private async void StarGame()
    {

        Snbodyv2.Start();
    }


    private async Task Test()
    {
        // Snbody.cancellationTokenSource.Cancel();
    }




    private Task IncrementCount(KeyboardEventArgs e)
    {
        throw new NotImplementedException();
    }


}
